<footer class="footer">
    <div class="footer__container container">
        <a href="#" class="footer__logo">Truck Technology</a>
        <p class="footer__desc">
            Порой, нам кажется возможно починить то что сломано, но сломанного человека не починить. Зато у нас можно починить все!
        </p>
        <div class="footer__main">
            <div class="footer__info">
                <a href="#" class="footer__item">
                    <svg><use xlink:href="#location"></use></svg>
                    ул. Пушкина, дом Колотушкина 67
                </a>
                <a href="tel:+7 (900) 000 86 00" class="footer__item">
                    <svg><use xlink:href="#call"></use></svg>
                    +7 (900) 000 86 00
                </a>
                <a href="mailto:Hmao3@mail.ru" class="footer__item">
                    <svg><use xlink:href="#mail"></use></svg>
                    Hmao3@mail.ru
                </a>
            </div>
        </div>
        <div class="footer__map">
            <img loading="lazy" src="./img/map.webp" alt="">
        </div>
        <div class="footer__bottom">
            <a href="#" class="footer__license">Политика конфиденциальности</a>
            <a href="#" class="footer__license">Условия использования</a>
        </div>
    </div>
</footer>

@@include("_sprite.svg")
<script src="js/common.js?v=0"></script>
</body>

</html>