<header class="header">
    <div class="header__top">
        <div class="header__top-container container">
            <div class="header__contacts">
                <a href="tel:+79000008600" class="header__contact">
                    <svg>
                        <use xlink:href="#call"></use>
                    </svg>
                    +7 (900) 000 86 00
                </a>
                <a href="mailto:Hmao3@mail.ru" class="header__contact">
                    <svg>
                        <use xlink:href="#mail"></use>
                    </svg>
                    Hmao3@mail.ru
                </a>
            </div>
            <div class="header__socials">
                <a href="max.ru/+79000008600" class="header__social">
                    <img src="./img/icons/max.webp" alt="">
                    Max
                </a>
                <a href="wa.me/+79000008600" class="header__social">
                    <img src="./img/icons/whatsapp.webp" alt="">
                    WhatsApp
                </a>
            </div>
        </div>
    </div>
    <div class="header__main">
        <div class="header__main-container container">
            <a href="#" class="header__logo">Truck Technology</a>
            <div class="header__menu">
                <nav class="header__nav">
                    <ul class="header__list">
                        <li class="header__item"><a href="#" class="header__link">Главная</a></li>
                        <li class="header__item"><a href="#" class="header__link">О нас</a></li>
                        <li class="header__item"><a href="#" class="header__link">Услуги</a></li>
                        <li class="header__item"><a href="#" class="header__link">Контакты</a></li>
                    </ul>
                </nav>
            </div>
            <div class="header__burger">
                <span></span>
            </div>
        </div>
    </div>
</header>