@use 'lib' as *;

.reasons {
	$self: &;

	padding: fluid(64px, 48px) 0;
	background: $bg-section;

	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: fluid(64px, 48px);

		@include media("<=xs") {
			align-items: start;
		}
	}

	&__title {
		text-align: center;
	}

	&__items {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		grid-template-columns: repeat(3, 1fr);
		gap: fluid(36px, 36px) 48px;
		max-width: 1280px;

		@include media("<=xs") {
			
		}
	}

	&__item {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 16px;
		font-weight: 700;
		font-size: fluid(20px, 16px);

		img {
			height: fluid(56px, 48px);
			object-fit: contain;
		}

		@include media("<=xs") {
			flex-direction: column;
			justify-content: center;
		}
	}

	&__button {
		@include flex-center;

		width: fit-content;
		border-radius: $radius-sm;
		color: $brand-gray;
		font-size: 18px;
		font-weight: 700;
		padding: 16px 32px;
		background: $btn-primary-bg;
		transition: all $transition-base;

		@include media("<=xs") {
			width: 100%;
		}

		&:hover {
			color: $text-primary;
			background: $btn-secondary-hover-bg;
		}
	}

}
