@use 'lib' as *;

.footer {
	$self: &;

	padding: fluid(64px, 48px) 0;
	background: $bg-footer;

	&__container {
		display: flex;
		flex-direction: column;
		gap: 48px;
	}

	&__main {

	}

	&__info {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 24px;
	}

	&__item {
		display: flex;
		flex-direction: row;
		gap: fluid(16px, 12px);
		font-weight: 700;

		svg {
			width: fluid(24px, 18px); height: fluid(24px, 18px);
			fill: $text-primary;
		}
	}

	&__map {
		width: 100%;
		aspect-ratio: 16 / 9;
		border-radius: $radius-lg;
		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		@include media("<=xs") {
			aspect-ratio: 4 / 3;
		}
	}

	&__bottom {
		display: flex;
		flex-direction: row;
		gap: 24px;
		flex-wrap: wrap;
	}

	&__license {

	}

	&__logo {
		font-size: fluid(24px, 20px);
		font-weight: 800;
	}

	&__desc {
		font-size: 18px;
		font-weight: 500;
		max-width: 460px;
		line-height: 150%;
	}

}
