@use 'lib' as *;

.problems {
	$self: &;

	padding: fluid(64px, 48px) 0;

	&__container {

	}

	&__title {
		margin-bottom: fluid(48px, 32px);
	}

	&__items {
		display: grid;
		grid-template-columns: repeat(4, 1fr);

		@include media("<=lg") {
			grid-template-columns: repeat(3, 1fr);
		}

		@include media("<=sm") {
			grid-template-columns: repeat(2, 1fr);
		}

		@include media("<=xs") {
			grid-template-columns: 100%;
		}
	}

	&__item {
		display: flex;
		align-items: end;
		justify-content: center;
		padding: fluid(24px, 16px);
		position: relative;
		aspect-ratio: 16 / 9;
		width: 100%;
		overflow: hidden;

		&:hover {
			#{$self}__item-image {
				transform: scale(1.05);
			}
		}

		&::after {
			content: '';
			position: absolute;
			inset: 0;
			width: 100%;
			height: 100%;
			background: rgba($color: #000000, $alpha: 0.5);
		}
	}

	&__item-image {
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: all $transition-base;
	}

	&__item-title {
		position: relative;
		z-index: 1;
		font-size: fluid(24px, 18px);
		font-weight: 700;
	}

}