@use 'lib' as *;

.advantages {
	$self: &;

	padding: fluid(64px, 48px) 0;
	background: $bg-section;

	&__container {

	}

	&__title {
		margin-bottom: 48px;
	}

	&__items {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 24px;

		@include media("<=md") {
			grid-template-columns: repeat(2, 1fr);
		}

		@include media("<=xs") {
			grid-template-columns: 100%;
		}
	}

	&__item {
		&:hover {
			#{$self}__item-image {
				transform: scale(1.05);
			}
		}
	}

	&__item-image {
		width: 100%;
		object-fit: cover;
		aspect-ratio: 16 / 9;
		margin-bottom: fluid(24px, 16px);
		overflow: hidden;
		border-radius: $radius-sm;
		transition: all $transition-base;
	}

	&__item-title {
		font-weight: 700;
		font-size: fluid(22px, 18px);
		line-height: 150%;
		text-align: center;
	}

}
